
<section >
  <app-grille id="grid" class="children" (scoreChanged)="scoreChangedHandler($event)" (tetrominoChanged)="nextTetrominoChangedHandler($event)"></app-grille>
  <div class="children"  id="scoreBar">
    <app-next-tetromino id="nextTetromino" [tetromino]="this.nextTetromino"></app-next-tetromino>
    <app-score-counter [score]="this.score"></app-score-counter>
    <app-command-bar id="commandBar" (left)="leftHandler()" (right)="rightHandler()" (down)="downHandler()" (rotate)="rotateHandler()" (pause)="pauseHandler()" (restart)="restartHandler()"></app-command-bar>
  </div>
</section>
