#next-grid {
  margin-left : 30px;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  width: 110px;

  /*TODO moduler dynamiquement la taille de la grille*/
  position: relative;
  border: 1px solid #050202;
  background-color: #ffffff;
}

.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.purple {
  background-color: #9b59b6;
  border: 1px solid #623475;
  box-shadow: inset 0 0 1px 1px #c6a0d5;
}


.grey {
  background-color: #95a5a6;
  border: 1px solid #617374;
  box-shadow: inset 0 0 1px 1px #ccd4d5;
}

.red {
  background-color: #e74c3c;
  border: 1px solid #a82315;
  box-shadow: inset 0 0 1px 1px #f29f97;
}

.orange {
  background-color: #e67e22;
  border: 1px solid #924d10;
  box-shadow: inset 0 0 1px 1px #f0b37e;
}

.turquoise {
  background-color: #1abc9c;
  border: 1px solid #0e6252;
  box-shadow: inset 0 0 1px 1px #55e7ca;
}

.blue {
  background-color: #0f6fc9;
  border: 1px solid #0a55b6;
  box-shadow: inset 0 0 1px 1px #0ba4eb;
}
