/* You can add global styles to this file, and also import other style files */

html{
background-color: rgb(4, 4, 49);
}

section {
  max-width: 700px;
  margin: 30px;
}

#headerContent{
  height : 100px;
}
