
<div class="wrapper">
  <div (click)="triggerLeft()" class="button"><img src="assets/img/left-arrow.png"></div>
  <div (click)="triggerRotate()" class="button"><img src="assets/img/refresh.png"></div>
  <div (click)="triggerRight()" class="button"><img src="assets/img/right-arrow.png"></div>
  <div class="break"></div>
  <div (click)="triggerDown()" id="down" class="button"><img src="assets/img/down-arrow.png"></div>
  <div class="break"></div>
  <div (click)="triggerPause()" id="pause" class="button"><img src="assets/img/pause.png"></div>
  <div class="break"></div>
  <div (click)="triggerRestart()" id="restart" class="button"><img src="assets/img/restart.png"></div>

</div>
